*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
 
}
.nav{
  display:flex;
  justify-content: space-between;
  background-color:blue;
  height:50px;
}

.reg{
  padding:20px;
}
.log{
  margin-right:10px;
}
.myblog{
  margin-left: 5px;
}
a{
  text-decoration: none;
}
.post{
  display:flex;

}
.img{
  margin-top: 20px;
}
.article{
 margin-left: 200px;
  
}
.form{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

img{
  max-width: 200px;
  height: 100px;
}

.register{
  display:flex;
  justify-content:center;
  margin-top:95px;
}
.text{
  width:250px;
  height:30px;
}
.overall{
  display:flex;
}
.right_nav{
  display:flex;
}
.right_navy{
  display:flex;
}
.float{
  display:flex;
}
.createpost{
  display:flex;
  justify-content:center;
  height:100px;
}
.post{
  display:flex;
  max-width: 100%;
  border:1px solid grey;
 
  text-decoration:none;
  color:black;
  background-color:grey;
  margin-top: 5px;
 
}


.post img{
  width: 100px;
  height:100px;
}


.posts_container{
  display:flex;
  margin-top:20px;
  flex-direction:column;
  align-items:center;
  padding:10px;
  
}
header{
 display:flex;
 justify-content: space-between;
 background-color:blue;
 
 align-items: center; 
 padding:15px;
}


.large{
  width:100%;
  background-color:grey;
  
}
.white{
  background-color:white
}
.Regist{
  padding:5px;
}
.large_a{
 text-align:center;
}
.label{
  color:red;
}
img{
  width:100%;
}
